/* absolute justify-center items-center top-60 right-40 */
.summit{
    color: white;
    height: 100vh;
}
.textDiv{
    /* position: absolute;
    justify-content: center;
    align-items: center;
    place-items: c;
    top: 60%;
    right: 50%; */
}