.summit {
  /*    py */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100lvh;
  opacity: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transform: translateY(100px);
}
