/* flex gap-40 grid-cols-2 grid-rows-1 justify-center  text-white h-fit */
.aboutMe {
  /* max-width: 30%; */
  display: flex;
  /* flex-flow: row wrap; */
  gap: 20%;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  padding-top: 30%;
  padding-bottom: 15%;

  color: white;
  /* height: 150rem; */
}
