@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 12, 12, 12;
  --background-start-rgb: 12, 12, 12;
  --background-end-rgb: 12, 12, 12;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 12, 12, 12;
    --background-start-rgb: 12, 12, 12;
    --background-end-rgb: 12, 12, 12;
  }
}

body {
  /* background-image: url('/DarkMountain.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}
body::-webkit-scrollbar {
  display: none;
}
